USE [master]
GO
/****** Object:  Database [NHOM6_HTDCH]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE DATABASE [NHOM6_HTDCH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTHONG DAT_CHUYEN HANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HTHONG DAT_CHUYEN HANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTHONG DAT_CHUYEN HANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HTHONG DAT_CHUYEN HANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHOM6_HTDCH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHOM6_HTDCH]
GO
/****** Object:  User [TX1]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE USER [TX1] FOR LOGIN [TaiXeLogin1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [QT1]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE USER [QT1] FOR LOGIN [QuanTriLogin1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV1]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE USER [NV1] FOR LOGIN [NhanVienLogin1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KH1]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE USER [KH1] FOR LOGIN [KhachHangLogin1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DT1]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE USER [DT1] FOR LOGIN [DoiTacLogin1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [TaiXeRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE ROLE [TaiXeRole]
GO
/****** Object:  DatabaseRole [QuanTriRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE ROLE [QuanTriRole]
GO
/****** Object:  DatabaseRole [NhanVienRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE ROLE [NhanVienRole]
GO
/****** Object:  DatabaseRole [KhachHangRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE ROLE [KhachHangRole]
GO
/****** Object:  DatabaseRole [DoiTacRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE ROLE [DoiTacRole]
GO
ALTER ROLE [TaiXeRole] ADD MEMBER [TX1]
GO
ALTER ROLE [QuanTriRole] ADD MEMBER [QT1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [QT1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [QT1]
GO
ALTER ROLE [NhanVienRole] ADD MEMBER [NV1]
GO
ALTER ROLE [KhachHangRole] ADD MEMBER [KH1]
GO
ALTER ROLE [DoiTacRole] ADD MEMBER [DT1]
GO
/****** Object:  Schema [DoiTacRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE SCHEMA [DoiTacRole]
GO
/****** Object:  Schema [KhachHangRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE SCHEMA [KhachHangRole]
GO
/****** Object:  Schema [NhanVienRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE SCHEMA [NhanVienRole]
GO
/****** Object:  Schema [QuanTriRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE SCHEMA [QuanTriRole]
GO
/****** Object:  Schema [TaiXeRole]    Script Date: 12/3/2021 9:59:10 AM ******/
CREATE SCHEMA [TaiXeRole]
GO
/****** Object:  Table [dbo].[CHI_NHANH]    Script Date: 12/3/2021 9:59:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_NHANH](
	[MA_CN] [varchar](50) NOT NULL,
	[MADN] [char](10) NOT NULL,
	[DIA_CHI] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHINHANH_SANPHAM]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH_SANPHAM](
	[MA_CN] [varchar](50) NOT NULL,
	[MA_SP] [char](10) NOT NULL,
 CONSTRAINT [PK_FK_CHINHANH_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MA_CN] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DON_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DON_HANG](
	[MA_SP] [char](10) NOT NULL,
	[MA_DON] [char](10) NOT NULL,
	[SO_LUONG] [int] NULL,
	[GIA_BAN] [int] NULL,
	[THANH_TIEN_] [int] NULL,
 CONSTRAINT [PK_CT_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[MA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANH_NGHIEP]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANH_NGHIEP](
	[MADN] [char](10) NOT NULL,
	[TEN_DN] [varchar](50) NULL,
	[NGUOI_DAI_DIEN] [nvarchar](50) NULL,
	[THANH_PHO] [nvarchar](50) NULL,
	[QUAN] [nvarchar](50) NULL,
	[SO_CHI_NHANH] [int] NULL,
	[SL_DON_HANG] [int] NULL,
	[LOAI_HANG_VC_] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[SO_DT] [varchar](10) NULL,
	[EMAIL] [char](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MA_DON] [char](10) NOT NULL,
	[MA_KV] [char](10) NOT NULL,
	[MADN] [char](10) NOT NULL,
	[MA_TX] [char](10) NULL,
	[MA_KH] [char](10) NOT NULL,
	[NGAY_LAP] [date] NULL,
	[TINH_TRANG] [nvarchar](50) NULL,
	[TONG_TIEN_] [bigint] NULL,
	[PHI_SAN_PHAM] [int] NULL,
	[PHI_VAN_CHUYEN] [int] NULL,
	[HINH_THUC_THANH_TOAN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MA_HD] [char](10) NOT NULL,
	[MADN] [char](10) NOT NULL,
	[MA_SO_THUE] [char](10) NULL,
	[NGUOI_DAI_DIEN] [nvarchar](50) NULL,
	[SO_CHI_NHANH] [int] NULL,
	[THOI_GIAN_BD] [date] NULL,
	[THOI_GIAN_KT] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [char](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[SO_DT] [varchar](10) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[EMAIL] [char](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHU_VUC]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHU_VUC](
	[MA_KV] [char](10) NOT NULL,
	[TEN_KHU_VUC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [char](10) NOT NULL,
	[TEN_SP] [nvarchar](50) NULL,
	[GIA] [int] NULL,
	[SO_LUONG] [int] NULL,
	[MO_TA] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_XE]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_XE](
	[MA_TX] [char](10) NOT NULL,
	[MA_KV] [char](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[CMND] [char](9) NULL,
	[SO_DT] [varchar](10) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[BIEN_SO_XE] [char](9) NULL,
	[EMAIL] [char](30) NULL,
	[TK_NGAN_HANG] [varchar](20) NULL,
	[TEN_NGAN_HANG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_NHANH] ([MA_CN], [MADN], [DIA_CHI]) VALUES (N'CN97887052', N'DN83267769', N'Hồ Chí Minh')
INSERT [dbo].[CHI_NHANH] ([MA_CN], [MADN], [DIA_CHI]) VALUES (N'CN62043123', N'DN83267769', N'Hồ Chí Minh')
INSERT [dbo].[CHI_NHANH] ([MA_CN], [MADN], [DIA_CHI]) VALUES (N'CN88460687', N'DN83267769', N'Bình Dương')
GO
INSERT [dbo].[CHINHANH_SANPHAM] ([MA_CN], [MA_SP]) VALUES (N'CN02554611', N'SP00306026')
INSERT [dbo].[CHINHANH_SANPHAM] ([MA_CN], [MA_SP]) VALUES (N'CN29684286', N'SP00827000')
INSERT [dbo].[CHINHANH_SANPHAM] ([MA_CN], [MA_SP]) VALUES (N'CN38239431', N'SP03062642')
GO
INSERT [dbo].[CT_DON_HANG] ([MA_SP], [MA_DON], [SO_LUONG], [GIA_BAN], [THANH_TIEN_]) VALUES (N'SP16308204', N'HD07171606', 6, 2781506, 16689036)
INSERT [dbo].[CT_DON_HANG] ([MA_SP], [MA_DON], [SO_LUONG], [GIA_BAN], [THANH_TIEN_]) VALUES (N'SP16308204', N'HD54605100', 3, 1246434, 3739302)
INSERT [dbo].[CT_DON_HANG] ([MA_SP], [MA_DON], [SO_LUONG], [GIA_BAN], [THANH_TIEN_]) VALUES (N'SP16308204', N'HD88992901', 5, 2251992, 11259960)
GO
INSERT [dbo].[DOANH_NGHIEP] ([MADN], [TEN_DN], [NGUOI_DAI_DIEN], [THANH_PHO], [QUAN], [SO_CHI_NHANH], [SL_DON_HANG], [LOAI_HANG_VC_], [DIA_CHI], [SO_DT], [EMAIL]) VALUES (N'DN61092796', N'Trupebistor Direct ', N'Nguyễn Văn A', N'Bình Phước', N'Quận 5', 2, 38, N'Hàng lẻ', N'Hồ Chí Minh', N'0983120311', N'41eowtm@gmail.com             ')
INSERT [dbo].[DOANH_NGHIEP] ([MADN], [TEN_DN], [NGUOI_DAI_DIEN], [THANH_PHO], [QUAN], [SO_CHI_NHANH], [SL_DON_HANG], [LOAI_HANG_VC_], [DIA_CHI], [SO_DT], [EMAIL]) VALUES (N'DN39200420', N'Trudimackentor WorldWide ', N'Nguyễn Văn B', N'Lạng Sơn', N'Quận 9', 4, 48, N'Hàng lẻ', N'Hồ Chí Minh', N'0918635192', N'rwmcwas@gmail.com             ')
INSERT [dbo].[DOANH_NGHIEP] ([MADN], [TEN_DN], [NGUOI_DAI_DIEN], [THANH_PHO], [QUAN], [SO_CHI_NHANH], [SL_DON_HANG], [LOAI_HANG_VC_], [DIA_CHI], [SO_DT], [EMAIL]) VALUES (N'DN63541170', N'Cipvenimin International ', N'Việt Khoa', N'Nghệ An', N'Huyện Cần Giờ', 3, 13, N'Hàng được hoàn thuế', N'Hồ Chí Minh', N'0921763618', N't3obzvp@gmail.com             ')
GO
INSERT [dbo].[DON_DAT_HANG] ([MA_DON], [MA_KV], [MADN], [MA_TX], [MA_KH], [NGAY_LAP], [TINH_TRANG], [TONG_TIEN_], [PHI_SAN_PHAM], [PHI_VAN_CHUYEN], [HINH_THUC_THANH_TOAN]) VALUES (N'HD56451566', N'KV69501076', N'DN71715083', NULL, N'KH63653953', CAST(N'2021-04-10' AS Date), N'Đang vận chuyển ', 3847566, 3822691, 24875, N'Tiền mặt')
INSERT [dbo].[DON_DAT_HANG] ([MA_DON], [MA_KV], [MADN], [MA_TX], [MA_KH], [NGAY_LAP], [TINH_TRANG], [TONG_TIEN_], [PHI_SAN_PHAM], [PHI_VAN_CHUYEN], [HINH_THUC_THANH_TOAN]) VALUES (N'HD93080527', N'KV86537848', N'DN83267769', N'TX70460849', N'KH80104485', CAST(N'2021-09-28' AS Date), N'Lấy hàng thành công ', 161452, 135926, 25526, N'Tiền mặt')
INSERT [dbo].[DON_DAT_HANG] ([MA_DON], [MA_KV], [MADN], [MA_TX], [MA_KH], [NGAY_LAP], [TINH_TRANG], [TONG_TIEN_], [PHI_SAN_PHAM], [PHI_VAN_CHUYEN], [HINH_THUC_THANH_TOAN]) VALUES (N'HD07171606', N'KV76646701', N'DN80903522', N'TX60852226', N'KH70856925', CAST(N'2021-06-06' AS Date), N'Chờ lấy hàng', 2151184, 2132204, 18980, N'Tiền mặt')
GO
INSERT [dbo].[HOP_DONG] ([MA_HD], [MADN], [MA_SO_THUE], [NGUOI_DAI_DIEN], [SO_CHI_NHANH], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'HDG8295653', N'DN61092796', N'7987680608', N'Nguyễn Văn A', 4, CAST(N'2020-03-14' AS Date), CAST(N'2021-09-21' AS Date))
INSERT [dbo].[HOP_DONG] ([MA_HD], [MADN], [MA_SO_THUE], [NGUOI_DAI_DIEN], [SO_CHI_NHANH], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'HDG4056668', N'DN83267769', N'7228963534', N'Ân Lai', 2, CAST(N'2020-03-04' AS Date), CAST(N'2021-06-20' AS Date))
INSERT [dbo].[HOP_DONG] ([MA_HD], [MADN], [MA_SO_THUE], [NGUOI_DAI_DIEN], [SO_CHI_NHANH], [THOI_GIAN_BD], [THOI_GIAN_KT]) VALUES (N'HDG4739731', N'DN80903522', N'3696331169', N'Mai Hiền', 2, CAST(N'2020-06-24' AS Date), CAST(N'2021-03-07' AS Date))
GO
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SO_DT], [DIA_CHI], [EMAIL]) VALUES (N'KH30426466', N'Bửu Chưởng', N'0917305673', N'Lạng Sơn', N'tduyh.pjsh@kpft.vsd-u.org     ')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SO_DT], [DIA_CHI], [EMAIL]) VALUES (N'KH28960667', N'Thư Sương', N'0927790335', N'Hồ Chí Minh', N'tasl.odkf@euhtr.org           ')
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [SO_DT], [DIA_CHI], [EMAIL]) VALUES (N'KH54506135', N'Công Hào', N'0904661050', N'Hồ Chí Minh', N'zautu.safks@dnnce.vtype.net   ')
GO
INSERT [dbo].[KHU_VUC] ([MA_KV], [TEN_KHU_VUC]) VALUES (N'KV76646701', N'Huyện Nhà Bè')
INSERT [dbo].[KHU_VUC] ([MA_KV], [TEN_KHU_VUC]) VALUES (N'KV51396942', N'Quận 9')
INSERT [dbo].[KHU_VUC] ([MA_KV], [TEN_KHU_VUC]) VALUES (N'KV86537848', N'Huyện Bình Chánh')
GO
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [GIA], [SO_LUONG], [MO_TA]) VALUES (N'SP26049509', N'Ly uống trà', 1000000, -1, N'Thuận tiện, thiết thực và dễ sử dụng')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [GIA], [SO_LUONG], [MO_TA]) VALUES (N'SP81885329', N'Macbook Pro 2015', 538441, 4, N'Không thấm nước')
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [GIA], [SO_LUONG], [MO_TA]) VALUES (N'SP89128803', N'Điện thoại SamSung A82', 1450521, 10, N'Không thấm nước')
GO
INSERT [dbo].[TAI_XE] ([MA_TX], [MA_KV], [HO_TEN], [CMND], [SO_DT], [DIA_CHI], [BIEN_SO_XE], [EMAIL], [TK_NGAN_HANG], [TEN_NGAN_HANG]) VALUES (N'TX11736641', N'KV69501076', N'Tường Anh', N'872405457', N'0914598996', N'Kon Tum', N'59N7-8689', N'0j59ibh095@gmail.com          ', N'323737916876', N'Ngân hàng TMCP Tiên Phong')
INSERT [dbo].[TAI_XE] ([MA_TX], [MA_KV], [HO_TEN], [CMND], [SO_DT], [DIA_CHI], [BIEN_SO_XE], [EMAIL], [TK_NGAN_HANG], [TEN_NGAN_HANG]) VALUES (N'TX23114712', N'KV86537848', N'Dạ Nguyệt', N'827041729', N'0996927153', N'Hồ Chí Minh', N'59X9-3324', N'zstzu8cial@gmail.com          ', N'562838488372', N'Ngân hàng TMCP Hàng hải Việt Nam')
INSERT [dbo].[TAI_XE] ([MA_TX], [MA_KV], [HO_TEN], [CMND], [SO_DT], [DIA_CHI], [BIEN_SO_XE], [EMAIL], [TK_NGAN_HANG], [TEN_NGAN_HANG]) VALUES (N'TX50926848', N'KV76646701', N'Chí Công', N'606201896', N'0938820369', N'Nam Định', N'59K6-2467', N'1lljb2w4u3@gmail.com          ', N'937414245759', N'Ngân hàng TMCP Quốc Dân')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_CHI_NHANH]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[CHI_NHANH] ADD  CONSTRAINT [PK_CHI_NHANH] PRIMARY KEY NONCLUSTERED 
(
	[MA_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_DOANHNGHIEP_CHINHANH_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_DOANHNGHIEP_CHINHANH_FK] ON [dbo].[CHI_NHANH]
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_CHINHANH_SANPHAM_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_CHINHANH_SANPHAM_FK] ON [dbo].[CHINHANH_SANPHAM]
(
	[MA_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_CHINHANH_SANPHAM2_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_CHINHANH_SANPHAM2_FK] ON [dbo].[CHINHANH_SANPHAM]
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_CTDONHANG_DONHANG_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_CTDONHANG_DONHANG_FK] ON [dbo].[CT_DON_HANG]
(
	[MA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[CT_DON_HANG]
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_DOANH_NGHIEP]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[DOANH_NGHIEP] ADD  CONSTRAINT [PK_DOANH_NGHIEP] PRIMARY KEY NONCLUSTERED 
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_DON_DAT_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[DON_DAT_HANG] ADD  CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_DOANHNGHIEP_DONDATHANG_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_DOANHNGHIEP_DONDATHANG_FK] ON [dbo].[DON_DAT_HANG]
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_DONHANG_TAIXE_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_DONHANG_TAIXE_FK] ON [dbo].[DON_DAT_HANG]
(
	[MA_TX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_KHACHHANG_DATHANG_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_KHACHHANG_DATHANG_FK] ON [dbo].[DON_DAT_HANG]
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_KHUVUC_DONHANG_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_KHUVUC_DONHANG_FK] ON [dbo].[DON_DAT_HANG]
(
	[MA_KV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_HOP_DONG]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[HOP_DONG] ADD  CONSTRAINT [PK_HOP_DONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_DOANHNGHIEP_HOPDONG_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_DOANHNGHIEP_HOPDONG_FK] ON [dbo].[HOP_DONG]
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHACH_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHU_VUC]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[KHU_VUC] ADD  CONSTRAINT [PK_KHU_VUC] PRIMARY KEY NONCLUSTERED 
(
	[MA_KV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_SAN_PHAM]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[SAN_PHAM] ADD  CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_TAI_XE]    Script Date: 12/3/2021 9:59:11 AM ******/
ALTER TABLE [dbo].[TAI_XE] ADD  CONSTRAINT [PK_TAI_XE] PRIMARY KEY NONCLUSTERED 
(
	[MA_TX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_KHUVUC_TAIXE_FK]    Script Date: 12/3/2021 9:59:11 AM ******/
CREATE NONCLUSTERED INDEX [FK_KHUVUC_TAIXE_FK] ON [dbo].[TAI_XE]
(
	[MA_KV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_NHANH]  WITH CHECK ADD  CONSTRAINT [FK_CHI_NHAN_FK_DOANHN_DOANH_NG] FOREIGN KEY([MADN])
REFERENCES [dbo].[DOANH_NGHIEP] ([MADN])
GO
ALTER TABLE [dbo].[CHI_NHANH] CHECK CONSTRAINT [FK_CHI_NHAN_FK_DOANHN_DOANH_NG]
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_FK_CHINH_FK_CHINHA_CHI_NHAN] FOREIGN KEY([MA_CN])
REFERENCES [dbo].[CHI_NHANH] ([MA_CN])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_FK_CHINH_FK_CHINHA_CHI_NHAN]
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_FK_CHINH_FK_CHINHA_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHINHANH_SANPHAM] CHECK CONSTRAINT [FK_FK_CHINH_FK_CHINHA_SAN_PHAM]
GO
ALTER TABLE [dbo].[CT_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DON_HANG_DON_DAT_HANG1] FOREIGN KEY([MA_DON])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DON])
GO
ALTER TABLE [dbo].[CT_DON_HANG] CHECK CONSTRAINT [FK_CT_DON_HANG_DON_DAT_HANG1]
GO
ALTER TABLE [dbo].[CT_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DON_HANG_SAN_PHAM1] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CT_DON_HANG] CHECK CONSTRAINT [FK_CT_DON_HANG_SAN_PHAM1]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__FK_DOANHN_DOANH_NG] FOREIGN KEY([MADN])
REFERENCES [dbo].[DOANH_NGHIEP] ([MADN])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__FK_DOANHN_DOANH_NG]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__FK_DONHAN_TAI_XE] FOREIGN KEY([MA_TX])
REFERENCES [dbo].[TAI_XE] ([MA_TX])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__FK_DONHAN_TAI_XE]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__FK_KHACHH_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__FK_KHACHH_KHACH_HA]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__FK_KHUVUC_KHU_VUC] FOREIGN KEY([MA_KV])
REFERENCES [dbo].[KHU_VUC] ([MA_KV])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__FK_KHUVUC_KHU_VUC]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOP_DONG_FK_DOANHN_DOANH_NG] FOREIGN KEY([MADN])
REFERENCES [dbo].[DOANH_NGHIEP] ([MADN])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOP_DONG_FK_DOANHN_DOANH_NG]
GO
ALTER TABLE [dbo].[TAI_XE]  WITH CHECK ADD  CONSTRAINT [FK_TAI_XE_FK_KHUVUC_KHU_VUC] FOREIGN KEY([MA_KV])
REFERENCES [dbo].[KHU_VUC] ([MA_KV])
GO
ALTER TABLE [dbo].[TAI_XE] CHECK CONSTRAINT [FK_TAI_XE_FK_KHUVUC_KHU_VUC]
GO
/****** Object:  StoredProcedure [dbo].[AD_XEM_DN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 --QT1
 CREATE   PROCEDURE [dbo].[AD_XEM_DN]
 AS 
 SELECT * 
 FROM DOANH_NGHIEP
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAP_TTIN_SP]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[CAPNHAP_TTIN_SP]
 (
	@MASP CHAR(10),
	@TENSP CHAR(50),
	@GIA INT, 
	@SOLUONG INT
 )
 AS  
	UPDATE SAN_PHAM 
	SET TEN_SP = @TENSP, SO_LUONG = @SOLUONG, GIA=@GIA
	WHERE MA_SP=@MASP
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_DN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 --QT2
 CREATE   PROCEDURE [dbo].[CAPNHAT_DN]
 (
 @MADN CHAR(10),
 @QUAN  NVARCHAR(50)
 )
 AS UPDATE DOANH_NGHIEP 
 SET QUAN=@QUAN
 WHERE MADN=@MADN

GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_DN_NGUOIDAIDIEN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CAPNHAT_DN_NGUOIDAIDIEN]
 (
	 @MADN CHAR(10),
	 @NGUOIDAIDIEN NVARCHAR(50)
 )
 AS 
	 UPDATE DOANH_NGHIEP 
	 SET NGUOI_DAI_DIEN = @NGUOIDAIDIEN
	 WHERE MADN=@MADN
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_HD_NGUOIDAIDIEN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CAPNHAT_HD_NGUOIDAIDIEN]
 (
	 @MADN CHAR(10),
	 @NGUOIDAIDIEN NVARCHAR(50)
 )
 AS 
	 UPDATE dbo.HOP_DONG 
	 SET NGUOI_DAI_DIEN = @NGUOIDAIDIEN
	 WHERE MADN=@MADN
GO
/****** Object:  StoredProcedure [dbo].[DN_TKE_DON_DAT_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DN_TKE_DON_DAT_HANG]
(
	@MADN CHAR(10)
)
AS 
	-- Đếm số hóa đơn của doanh nghiệp
	SELECT COUNT(HD.MA_DON) 
	FROM dbo.DOANH_NGHIEP DN JOIN dbo.DON_DAT_HANG HD ON (HD.MADN = DN.MADN)
	WHERE DN.MADN = @MADN

	-- Hiển thị thông tin hóa đơn của doanh nghiệp
	SELECT COUNT(HD.MA_DON) 
	FROM dbo.DOANH_NGHIEP DN JOIN dbo.DON_DAT_HANG HD ON (HD.MADN = DN.MADN)
	WHERE DN.MADN = @MADN
	SELECT * FROM DON_DAT_HANG WHERE MADN = @MADN
GO
/****** Object:  StoredProcedure [dbo].[DN_TKE_SP]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DN2: Xem danh sách sản phẩm của doanh nghiệp
CREATE   PROCEDURE [dbo].[DN_TKE_SP]
(
	@MADN CHAR(10)
)
AS
	SELECT SP.MA_SP,SP.TEN_SP,SP.GIA,SP.SO_LUONG,SP.MO_TA
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.MADN=@MADN
GO
/****** Object:  StoredProcedure [dbo].[KH_MUA_HANG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[KH_MUA_HANG]
( 
	@MADON CHAR(10),
	@MAKV CHAR(10),
	@MADN CHAR(10),
	@MAKH CHAR(10),
	@HINHTHUCTHANHTOAN NVARCHAR(50),
	@SOLUONG INT,
	@MASP CHAR(10)
)
AS 
	--Thêm mới một đơn đặt hàng  
	INSERT INTO	dbo.DON_DAT_HANG
	(
	    MA_DON,
	    MA_KV,
	    MADN,
	    MA_TX,
	    MA_KH,
	    NGAY_LAP,
	    TINH_TRANG,
	    TONG_TIEN_,
	    PHI_SAN_PHAM,
	    PHI_VAN_CHUYEN,
	    HINH_THUC_THANH_TOAN
	)
	VALUES
	(   @MADON,   -- MA_DON - char(10)
	    @MAKV,   -- MA_KV - char(10)
	    @MADN,   -- MADN - char(10)
	    NULL, -- MA_TX - char(10)
	    @MAKH,   -- MA_KH - char(10)
	    GETDATE(), -- NGAY_LAP - date
	    N'Chờ nhận đơn', -- TINH_TRANG - nvarchar(50)
	    NULL, -- TONG_TIEN_ - bigint
	    NULL, -- PHI_SAN_PHAM - int
	    25000, -- PHI_VAN_CHUYEN - int
	    @HINHTHUCTHANHTOAN  -- HINH_THUC_THANH_TOAN - nvarchar(50)
	)

	--Thêm mới chi tiết đơn hàng
	DECLARE @GIA INT
	SET @GIA = (SELECT GIA FROM dbo.SAN_PHAM WHERE MA_SP = @MASP)
	INSERT INTO dbo.CT_DON_HANG
	(
		MA_SP,
		MA_DON,
		SO_LUONG,
		GIA_BAN,
		THANH_TIEN_
	)
	VALUES
	(   @MASP,   -- MA_SP - char(10)
	    @MADON,   -- MA_DON - char(10)
	    @SOLUONG, -- SO_LUONG - int
	    @GIA, -- GIA_BAN - int
	    @SOLUONG * @GIA  -- THANH_TIEN_ - int
	)
GO
/****** Object:  StoredProcedure [dbo].[KH_THONGKE_SP_GIA]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[KH_THONGKE_SP_GIA]
(
	@TENDN NVARCHAR(50),
	@GIA INT 
)
AS 
	SELECT COUNT(SP.MA_SP)
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.TEN_DN LIKE @TENDN AND SP.GIA >= @GIA

	SELECT SP.MA_SP,SP.TEN_SP, SP.MO_TA, SP.GIA
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.TEN_DN LIKE @TENDN AND SP.GIA >= @GIA
	ORDER BY SP.GIA DESC
GO
/****** Object:  StoredProcedure [dbo].[KH_THONGKE_SP_SLUONG]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[KH_THONGKE_SP_SLUONG]
(
	@TENDN NVARCHAR(50),
	@SLUONG INT 
)
AS 
	SELECT COUNT(SP.MA_SP)
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.TEN_DN LIKE @TENDN AND SP.SO_LUONG >= @SLUONG

	SELECT SP.MA_SP,SP.TEN_SP, SP.MO_TA, SP.SO_LUONG
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.TEN_DN LIKE @TENDN AND SP.SO_LUONG >= @SLUONG
	ORDER BY SP.SO_LUONG DESC
GO
/****** Object:  StoredProcedure [dbo].[KH_TIM_SP_THEO_TENDN_TENSP]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--KH3
CREATE   PROCEDURE [dbo].[KH_TIM_SP_THEO_TENDN_TENSP]
(
@TENDN NVARCHAR(50),
@TENSP NVARCHAR(50)
)
AS 
SELECT SP.MA_SP,SP.TEN_SP,SP.GIA,SP.SO_LUONG,SP.MO_TA
FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
ON (DN.MADN=CN.MADN) 
JOIN CHINHANH_SANPHAM CN_SP
ON (CN.MA_CN=CN_SP.MA_CN)
JOIN SAN_PHAM SP
ON (CN_SP.MA_SP=SP.MA_SP)
WHERE DN.TEN_DN LIKE @TENDN 
AND SP.TEN_SP LIKE @TENSP
GO
/****** Object:  StoredProcedure [dbo].[KH_XEM_SP_THEO_MADN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--KH2 
CREATE   PROCEDURE [dbo].[KH_XEM_SP_THEO_MADN]
( 
@MADN CHAR(10)
)
AS 
	SELECT SP.MA_SP,SP.TEN_SP,SP.GIA,SP.SO_LUONG,SP.MO_TA
	FROM  DOANH_NGHIEP  DN JOIN CHI_NHANH  CN
		  ON (DN.MADN=CN.MADN) 
		  JOIN CHINHANH_SANPHAM CN_SP
		  ON (CN.MA_CN=CN_SP.MA_CN)
		  JOIN SAN_PHAM SP
		  ON (CN_SP.MA_SP=SP.MA_SP)
	WHERE DN.MADN=@MADN
GO
/****** Object:  StoredProcedure [dbo].[KH_XEM_TATCA_DN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--KH1
CREATE   PROCEDURE [dbo].[KH_XEM_TATCA_DN]
AS 
	SELECT MADN, TEN_DN,THANH_PHO,QUAN,DIA_CHI
	FROM DOANH_NGHIEP
GO
/****** Object:  StoredProcedure [dbo].[THEM_SP]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[THEM_SP]
(
@MASP CHAR(10),
@TENSP NVARCHAR(50),
@GIA INT,
@SOLUONG INT,
@MOTA NVARCHAR(100)
)
 AS 
	INSERT INTO SAN_PHAM VALUES( @MASP,@TENSP,@GIA,@SOLUONG,@MOTA)

GO
/****** Object:  StoredProcedure [dbo].[TIMDN_THEO_TEN_QUAN]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 --KH4
 CREATE   PROCEDURE [dbo].[TIMDN_THEO_TEN_QUAN]  
 (
 @TEN NVARCHAR(50),
 @QUAN NVARCHAR(50)
 )
 AS 
 SELECT * 
 FROM DOANH_NGHIEP DN
 WHERE DN.TEN_DN LIKE  @TEN 
 AND DN.QUAN LIKE @QUAN
GO
/****** Object:  StoredProcedure [dbo].[TX_NHAN_DH]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --Chức năng nhận đơn hàng 
 CREATE   PROCEDURE [dbo].[TX_NHAN_DH]
 (
	@MATX CHAR(10),
	@MADH CHAR(10)
 )
 AS 
	UPDATE DON_DAT_HANG
    SET MA_TX=@MATX, TINH_TRANG = 'Đang lấy hàng'
    WHERE MA_DON=@MADH
GO
/****** Object:  StoredProcedure [dbo].[TX_XEM_DH]    Script Date: 12/3/2021 9:59:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[TX_XEM_DH]
 (
	@MATX CHAR(10)
 )
 AS 
	DECLARE @KHUVUC CHAR(10)
	SET @KHUVUC = (SELECT MA_KV FROM dbo.TAI_XE WHERE MA_TX = @MATX)
	SELECT * FROM DON_DAT_HANG
	WHERE MA_TX=NULL AND MA_KV = @KHUVUC
GO
USE [master]
GO
